* {
  padding: 0%;
  margin: 0%;
  list-style: none;
  text-decoration: none;
}
.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://i.ytimg.com/vi/hHwblpw3grg/maxresdefault.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card, .Card{
  width: 250px;
  height: 400px;
  background-color: grey;
  margin: 10px;
  border: inset thick white;
}
/* There are two card class incase somone decides to use a capital letter for .Card */

button{
  width: 40%;
  height: 40px;
  margin: 0px 5px;
  color: green;
  font-weight: 600;
  background-color: #3C95D9;
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
  border-radius: 10px;
}


h3,p{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 2rem 0;
  text-shadow: 2px 2px #ccc;
}

img{
  width: 80%;
}